@import "tailwindcss";

@theme {
  --color-midnight-green: #014e56;
  --color-light-coral: #f67e7e;
  --color-rapture-green: #79c8c7;
  --color-police-blue: #2c6269;
  --color-deep-jungle-green: #004047;
  --color-state-green: #012f34;
  --color-dark-green: #002529;
  --font-livvic: "Livvic", sans-serif;
}

body {
  @apply font-livvic;
}

/* ====== TYPOGRAPHY ====== */
.h1-lg {
  @apply text-[40px] leading-[40px] font-bold md:text-[64px] md:leading-[56px] xl:text-[100px] xl:leading-[100px];
}

.h1-sm {
  @apply text-[40px] leading-[40px] font-bold md:text-[64px] md:leading-[56px] xl:text-[64px] xl:leading-[100px];
}

.h2 {
  @apply text-[32px] leading-[32px] font-bold lg:text-[48px] lg:leading-[48px];
}

.h3 {
  @apply text-[18px] leading-[28px] font-bold;
}

.body {
  @apply text-[15px] leading-[25px] font-semibold lg:text-[18px] lg:leading-[28px];
}

/* ====== BUTTONS ====== */
.btn {
  @apply w-[153px] h-[48px] flex items-center justify-center font-semibold text-[18px] leading-[28px] lowercase rounded-full;
}

.btn-primary {
  @apply bg-transparent text-white border-2 border-white transition-all hover:bg-white hover:text-dark-green;
}

.btn-primary.dark {
  @apply bg-transparent text-state-green border-2 border-state-green transition-all hover:bg-state-green hover:text-white;
}

.btn-secondary {
  @apply bg-white text-dark-green transition-all hover:bg-rapture-green;
}

/* ====== FORM ====== */
.form-input,
.form-area {
  @apply w-full bg-transparent border-b border-b-white py-2 text-[15px] leading-[25px] text-white font-semibold placeholder:text-[15px] outline-none placeholder:leading-[25px] placeholder:text-white/80 placeholder:font-livvic placeholder:font-semibold active:border-b-rapture-green focus:border-b-rapture-green;
}

.form-input.error,
.form-area.error {
  @apply border-b-light-coral placeholder:text-light-coral/80;
}

.error-msg {
  @apply hidden text-light-coral my-2 text-[10px] font-bold italic;
}

/* ====== UTILITY CLASSES ====== */
.section-container {
  @apply max-w-[1300px] mx-auto;
}

/* ====== HEADER ====== */
.nav-item {
  @apply lowercase text-white transition-colors hover:text-light-coral;
}
